<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title></title>
<script type="text/javascript" src="$!{resourcesPath}resource/js/jquery.min.js"></script>
<script type="text/javascript" src="$!{resourcesPath}resource/js/jcarousellite_1.0.1.min.js"></script>
<script type="text/javascript" src="$!{resourcesPath}resource/js/easySlider1.js"></script>
#[[<script type="text/javascript" charset="utf-8">
$(document).ready(function(){	
	$("#slider").easySlider({
		controlsBefore:	'<p id="controls">',
		controlsAfter:	'</p>',
		auto: true, 
		pause:	3000,
		continuous: true
	});	
});
</script>]]#
<style type="text/css">
.slider { margin:-8px -5px -5px -5px; padding:0; height:100%;overflow:hidden;}
.slider div.slice1 { margin:0; width:100%; padding:0; overflow:hidden;}
.slider div.slice1 div.slice2 { margin:0 auto; padding:1px; }
.slider div div div { margin:0 auto; padding:0; width:966px; height:348px; background:url($!{resourcesPath}resource/images/bg_simple.gif) top no-repeat ; }
.slider div div div h2 { width:200px; float:left; font:normal 20px 'Hiragino Sans GB',Verdana,Arial,Sans-Serif; color:#1c1d1c; padding:50px 0 0 10px; margin:0; line-height:1.2em; }
.slider div div div p { width:200px; float:left; font:normal 12px 'Hiragino Sans GB',Verdana,Arial,Sans-Serif; color:#262626; margin:0; padding:5px 0 0 10px; line-height:1.8em; }
.slider div div div p.img { width:400px; float:right;padding:5px 0; margin:0; }
#slider { margin:0; padding:0; list-style:none; }
#slider ul,
#slider li { margin:0; padding:0; list-style:none; }
#slider li { width:966px; height:348px; overflow:hidden; }
</style>

</head>
<body scroll="no">
<div  class="slider">
    <div   class="slice1">
      <div style="width: 966px; height: 300px; overflow: hidden;" class="slice2" id="slider">
        <ul style="width: 2898px; margin-left: 0px; margin-right:0px;">
			#foreach($a in [0..5])
			#if($!{mainNewsList.size()}>$!{a})
				<li style="float: left;">         	
           <div>
                <h2>$!{mainNewsList.get($!{a}).getNodeTitle()}<p><a href="$!{basePath}dynamic/hot_news/$!{mainNewsList.get($!{a}).getNodeCode()}" target="_blank"><img src="$!{resourcesPath}resource/images/more_information.gif" alt="img" border="0" height="30" width="133" ></a></p></h2>          
                <a href=$!{basePath}dynamic/hot_news/$!{mainNewsList.get($!{a}).getNodeCode()} target="_blank"><p><img src = $!{mainNewsList.get($!{a}).getNodeContent2()}></p></a>
           </div>
        </li>
			#else
			#end
		#end
        </ul>
      </div>
    </div>
  </div>
<script language="JavaScript">
var myimg,oldwidth,oldheight;
var maxwidth=350;
var maxheight=220;
for(i = 0; i < document.all.length; i++)
{
  if(document.all(i).tagName.toLowerCase()=="img")
  {
     myimg = document.all(i);
     if(myimg.width > myimg.height)
     {
         if(myimg.width > maxwidth)
         {
            oldwidth = myimg.width;
            myimg.height = myimg.height * (maxwidth/oldwidth);
            myimg.width = maxwidth;
         }
     }
     else{
         if(myimg.height > maxheight)
         {
            oldheight = myimg.height;
            myimg.width = myimg.width * (maxheight/oldheight);
            myimg.height = maxheight;
         }
     }
  }
}
</script>
</body></html>