<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.bstek.com/dorado/schema"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.bstek.com/dorado/schema http://www.bstek.com/dorado/schema/spring-dorado-7.0.xsd">
	
	<bean parent="dorado.packagesConfigLoader">
		<property name="configLocation" value="home:packages-config.xml">
		</property>
	</bean>
	<bean parent="dorado.viewConfigFactoryRegister">
		<property name="viewNamePattern" value="d7.**" />
		<property name="viewConfigFactory">
			<bean parent="dorado.xmlViewConfigDefinitionFactory">
				<property name="pathPrefix" value="classpath:/com/bstek/bdf" />
				<property name="pathSubfix" value=".view.xml" />
			</bean>
		</property>
	</bean>
	
<!-- 	<bean id="dorado.filterCriterionParser" class="com.bstek.dorado.data.provider.filter.AdvanceFilterCriterionParser" /> -->
	<bean parent="dorado.viewConfigFactoryRegister">
		<property name="viewNamePattern" value="dyview.**" />
		<property name="viewConfigFactory">
			<bean parent="dorado.xmlViewConfigDefinitionFactory">
				<property name="pathPrefix" value="svn:/" />
				<property name="pathSubfix" value=".view.xml" />
			</bean>
		</property>
	</bean>
		<bean parent="dorado.viewConfigFactoryRegister">
		<property name="viewNamePattern" value="bstek.**" />
		<property name="viewConfigFactory">
			<bean parent="dorado.xmlViewConfigDefinitionFactory">
				<property name="pathPrefix" value="${view.root}/com" />
				<property name="pathSubfix" value=".view.xml" />
			</bean>
		</property>
	</bean>
	<bean parent="dorado.packagesConfigLoader">
		<property name="configLocation" value="home:packages-config.xml">
		</property>
	</bean>
	<bean parent="dorado.dataConfigLoader">
		<property name="configLocation" value="${model.root}/**/*.model.xml" />
	</bean>
</beans>
